//**** Base Element Styles ****//

blockquote {
    border-top: $greyBorder;
    border-bottom: $greyBorder;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}