.animal hr {
    width: 100%!important;
}

.animal-post {
    display: flex;
    flex-direction: column;
}

.animal-title > *{
    vertical-align: middle;
}

.animal-thumbnail {
    margin-right: 10px;
    flex-shrink: 0;

    img {
        width: 175px;
    }
}

.animal-info {
    display: inline-block;
    flex-grow: 1;

    p:not(:last-of-type) {
        margin-bottom: 0;
    }
}

.view-animal-adoption-button {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .animal-post {
        flex-direction: initial;
    }

    .view-animal-adoption-button {
        width: auto;
    }
}