.widget_nav_menu {
    .menu {
        padding: 0px;

        .menu-item {
            a {
                padding: 10px 15px;
                display: block;
                border-radius: $borderRadius;
                background-color: $blue;
                color: white;

                &:hover {
                    opacity: 0.9;
                    text-decoration: none;
                }
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}